@media only screen and (max-width: 376px) {
  .tooltip {
    z-index: 1;
    bottom: -1.1rem;
    right: -1.9rem;
    position: absolute;
    color: #fff;
    font-size: 18px;
    max-width: 28ch;

  }
  .tooltip {
    /* triangle dimension */
    --b: 1em; /* base */
    --h: 0; /* height */

    --p: 50%; /* triangle position (0%:left 100%:right) */
    --r: 0.4em; /* the radius */
    --c: hsl(217, 19%, 35%);

    padding: 1.3rem 10.55rem;
    border-radius: 0 0 min(var(--r),100% - var(--p) - var(--b)/2) min(var(--r),var(--p) - var(--b)/2)/var(--r);
    clip-path: polygon(0 100%,0 0,100% 0,100% 100%,
      min(100%,var(--p) + var(--b)/2) 100%,
      var(--p) calc(100% + var(--h)),
      max(0%  ,var(--p) - var(--b)/2) 100%);
    background: var(--c);
    border-image: conic-gradient(var(--c) 0 0) fill 0/
      var(--r) calc(100% - var(--p) - var(--b)/2) 0 calc(var(--p) - var(--b)/2)/
      0 0 var(--h) 0;
  }

  .tooltip p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 0;
    color: white;
    font-size: 1em;
  }
}
